<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn7IY8LDTORFuOB6qs9LXCI29DxMI3VL0</string>
	<key>GCM_SENDER_ID</key>
	<string>25999754613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fibaconn</string>
	<key>PROJECT_ID</key>
	<string>fibaconn</string>
	<key>STORAGE_BUCKET</key>
	<string>fibaconn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25999754613:ios:d121ebde3e44b66f0f7f3c</string>
</dict>
</plist>